body{
    background-color:grey;
    width:"960px";
    font-size:"18px";
}
#header{
    height:200%;
    width:960px;
    margin-left:auto;
    margin-right:auto;
    font-family:"Arial";
    font-size:"18px";
    color:grey;
    padding:25px;
}

#nav{
    height:200%;
    width:960px;
    margin-left:auto;
    margin-right:auto;
    font-family:"Arial";
    font-size:"18px";
    color:grey;
    padding:25px;
}

#section{
    width:495px;
    height:250px;
    float:left;
    margin-left:255px;
    font-family:"Arial";
    color:grey;
    font-size:"18px"
}

#article{
    width:400px;
    height:120px;
    float:left;
    margin-left:25px;
    margin-right:auto;
    font-family:"Arial";
    color:#ebebeb;
    font-size:"18px";
    padding:25px;
}

#h4{
    
    margin-top:0.0005525px;
}



#htags{
    padding:0.025px;
    width:400px;
    border-width:1px;
    margin-top:2.5%;
    margin-left:50px;
    margin-right:auto;
    margin-bottom:200px;
    font-family:"Arial";
    color:grey;
    font-size:"18px";
    position:absolute;
    height:40px;
}

#ptag{

    margin-top:2.5%;
    padding:0.025px;
    width:400px;
    border-width:1px;
    float:left;
    margin-left:50px;
    margin-right:auto;
    margin-bottom:200px;
    font-family:"Arial";
    color:grey;
    font-size:"18px";
    bottom:75px;
    position:relative;
    height:40px;
}
#h3{
    
    line-height:20px;
    
}
h3{
    margin-top: 2%;
}
p{
    
    margin-top: 2%; 
}

#aside{
    width:495px;
    height:250px;
    border-width:1px;
    float:right;
    margin-left:auto;
    text-align: center;
    margin-right:255px;
    font-family:"Arial";
    color:grey;
    font-size:"18px"
}

#footer{
    position:fixed;
    bottom:100px;
    width:960px;
    margin-bottom:20px;
    margin-left:250px;
    font-family:"Arial";
    font-size:"18px";
    color:grey;
    padding:25px;
}